<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <section class="container">
    <div class="row" id="header">
      <div>
        <h2>Pilih Room</h2>
        <p>Game dimulai ketika salah satu player mengklik 'start'</p>
      </div>
      <h4>Halo User</h4>
    </div>
    <div id="cardList" class="row">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Room 1</h5>
          <p class="card-text">Room Name/ genre/ years</p>
          <div class="button">
            <a href="#" class="btn btn-primary">JOIN</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Room 2</h5>
          <p class="card-text">Room Name/ genre/ years</p>
          <div class="button">
            <a href="#" class="btn btn-primary">JOIN</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Room 3</h5>
          <p class="card-text">Room Name/ genre/ years</p>
          <div class="button">
            <a href="#" class="btn btn-primary">JOIN</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Room 4</h5>
          <p class="card-text">Room Name/ genre/ years</p>
          <div class="button">
            <a href="#" class="btn btn-primary">JOIN</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>